name: gradle build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: checkout repository
      uses: actions/checkout@v2
    - name: initialize submodules 
      uses: textbook/git-checkout-submodule-action@master
    - name: config jdk 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: make gradlew executable
      run: chmod +x ./gradlew
    - name: execute build
      run: ./gradlew build
